apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: varadpoddar/frontend:latest
          ports:
            - containerPort: 5000
          env:
            - name: BLOG_API_BASE
              value: http://blog-api-service:5001/
            - name: AUTH_API_BASE
              value: http://auth-service:5002/
            - name: PORT
              value: "5000"
